

/* General stuff */

html, body
{
	text-align:left;
	height:100%;
}

blockquote
{
	margin:25px;
	padding:15px;
	background-color:#f0f0ff;
	border:dotted 1px #ccc;
}

.internetExploderWarning
{
	position:absolute;
	top:15px;
	left:15px;
	padding:25px;
	border:dotted 1px #999;
	background-color:#fefefe;
	font-size:1.2em;
	color:#999;
	width:600px;
	z-index:5000;
}

.internetExploderWarning ul
{
	margin:15px 0 15px 50px;
}

.internetExploderWarning ul li
{
	list-style-position:outside;
	list-style-type:disc;
}

.internetExploderWarning a
{
	text-decoration:none;
	color:#66b;
}

.internetExploderWarning a:hover
{
	background-color:#f0f0f0;
}

.answerContent blockquote
{
	margin:25px 25px 25px 60px;
	padding:15px;
	background-color:#f0f0ff;
	border:dotted 1px #ccc;
}

.whenPosted
{
	margin:0;
	padding:0;
	color:#999;
	font-style:italic;
	font-size:0.8em;
}

pre.code
{
	background-color:#fafafa;
	padding:15px;
	margin:15px;
	border:dotted 1px #ababab;
}

.quizContent, .answer
{
	font-size:1.2em;
	width:60%;
}

.quizContent ul, .answer ul
{
	margin:10px 0 10px 18px;
}

.quizContent ul li, .answer ul li
{
	list-style-position:outside;
	list-style-type:disc;
}

.mainContent
{
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

table
{
	border-collapse:collapse;
}

table tr td
{
	border:none 0;
}


/* Login form */
.login
{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.login tr td
{
	white-space:nowrap;
}

.login input[type=text]
{
	width:150px;
}

.loginBtn
{
	position:absolute;
	right:5px;
	bottom:5px;
}

.loginBtnOpenID
{
	position:absolute;
	left:5px;
	bottom:5px;
}

.publicTerminalOpenID
{
	margin-top:10px;
	display:block;
}

.publicTerminalOpenID input
{
	margin-right:3px;
}

.whatsOpenID
{
	position:absolute;
	right:5px;
	bottom:5px;
}

.login input[type=password]
{
	width:150px;
}



/* Login panel - up right corner */
.loginPnl
{
	position:absolute;
	top:5px;
	right:5px;
	width:300px;
	min-height:50px;
	border:dotted 1px #999;
	background-color:#fdfdfd;
	padding:5px;
}

.loginPnl a
{
	display:block;
	text-decoration:none;
	border:solid 1px #999;
	background-color:#efefef;
	margin:5px;
	padding:5px;
}

.loginPnl a:hover
{
	background-color:#efefab;
}

.auto
{
	border:none;
	padding:0;
	margin:0;
	display:block;
	margin:5px;
	margin-bottom:15px;
	background-color:Transparent;
}

.auto input[type=text]
{
	padding:5px;
	display:block;
	border:solid 1px #999;
	background-color:#fefefe;
	width:128px !important;
}

/* Master page common stuff */
.logo
{
	margin:20px 0 0 100px;
	color:#333;
	margin-bottom:50px;
}

.askQuestion
{
	position:relative;
	width:100%;
	min-height:570px;
}

.askQuestion input[type=text]
{
	width:90%;
	margin:5%;
}

.askQuestionLeft
{
	float:left;
	width:70%;
}

.askQuestionRight
{
	float:left;
	width:25%;
	margin-top:15px;
}

.askQuestion textarea
{
	width:90%;
	height:250px;
	margin:0 5% 10% 5%;
}

.question
{
	background-color:#fefefe;
	border:dotted 1px #999;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	margin:10px;
	overflow:auto;
	clear:both;
}

.question div
{
	height:40px;
	line-height:40px;
	border:solid 1px #eee;
	color:#33a;
	text-align:center;
}

.question .count
{
	font-size:0.8em;
	width:70px;
	float:left;
	font-size:1.9em;
}

.really-bad
{
	background-color:#a00;
}

.bad
{
	background-color:#a77;
}

.neutral
{
	background-color:#fafafa;
}

.good
{
	background-color:#7a7;
}

.great
{
	background-color:#0d0;
}

.question a
{
	height:100%;
	text-decoration:none;
	color:Blue;
	display:block;
	margin:0;
	text-align:left;
	padding-left:5px;
}

.question a:hover
{
	background-color:#eee;
}

.question .answers-count
{
	font-size:0.8em;
	width:70px;
	float:left;
	font-size:1.9em;
	text-align:center;
	margin-left:15px;
}

.question .date
{
	background-color:#fafafa;
	font-size:0.8em;
	width:80px;
	float:left;
	margin-left:15px;
}

.question .operatorAsked
{
	background-color:#fafafa;
	font-size:0.8em;
	width:120px;
	float:left;
	margin-left:15px;
}

.question .header
{
	background-color:#fafafa;
	font-size:1.0em;
	margin-left:410px;
	position:relative;
}

.headerLink
{
	font-size:0.9em;
}

.viewCount
{
	position:absolute;
	top:5px;
	right:5px;
	margin-top:-15px;
	font-size:0.9em;
	color:#999;
}

.tags
{
	position:absolute;
	top:12px;
	right:5px;
	font-size:0.9em;
	color:#999;
}

.tagsHeader
{
	position:absolute;
	top:5px;
	right:5px;
	font-size:0.9em;
}

.tagsHeader a
{
	text-decoration:none;
	color:#999;
	background-color:#eee;
	padding:5px;
	border:solid 1px #999;
}

.tagsHeader a:hover
{
	background-color:#efefab;
}

.question .top
{
	font-size:1.2em;
	background-color:#f0f0f0;
}

.star
{
	float:left;
	width:32px;
	margin:20px 5px 0 5px;
}

.starNone
{
	background:url('sprite.png') no-repeat 0 -103px;
	width:32px;
	height:31px;
	display:block;
	margin-top:6px;
	color:White;
}

.starFavored
{
	background:url('sprite.png') no-repeat 0 -72px;
	width:32px;
	height:31px;
	display:block;
	color:White;
	margin-top:6px;
}

.vote
{
	float:left;
	padding:15px;
	position:relative;
}

.quizContent
{
	border-left:dotted 1px #999;
	margin-left:131px;
	padding:15px;
	position:relative;
}

.up
{
	background:url('sprite.png') no-repeat 0 0;
	width:24px;
	height:12px;
	display:block;
	color:White;
}

.up:hover
{
	background:url('sprite.png') no-repeat 0 -24px;
}

.upVoted
{
	background:url('sprite.png') no-repeat 0 -48px;
	width:24px;
	height:12px;
	display:block;
	color:White;
}

.down
{
	background:url('sprite.png') no-repeat 0 -12px;
	width:24px;
	height:12px;
	display:block;
	color:White;
}

.down:hover
{
	background:url('sprite.png') no-repeat 0 -36px;
}

.downVoted
{
	background:url('sprite.png') no-repeat 0 -60px;
	width:24px;
	height:12px;
	display:block;
	color:White;
}

.questionSubmit
{
	position:absolute;
	right:5px;
	bottom:5px;
	width:100px;
}

.votes
{
	font-size:1.6em;
	margin:3px 0 3px 6px;
	display:block;
}

.operator
{
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	text-decoration:none;
	border:solid 1px #999;
	background-color:#efefef;
	margin:5px;
	padding:5px;
	min-width:100px;
	text-align:center;
}

.operatorAskedQuestion
{
	margin:5px -250px 5px 5px;
}

.operator:hover
{
	background-color:#efefab;
}

.profileBtn
{
	position:relative;
}

.profileName
{
	position:absolute;
	top:2px;
	right:2px;
	color:#999;
	font-size:0.7em;
	text-decoration:none;
}

.deleteQuestion:hover
{
	background-color:#efefab;
}

.answer
{
	width:60%;
	border:dotted 1px #999;
	background-color:#fefefe;
	padding:15px;
	margin-top:25px;
	margin-left:150px;
	margin-bottom:50px;
	clear:both;
	overflow:auto;
	position:relative;
}

.answer textarea
{
	width:95%;
	display:block;
	margin:15px 15px 50px 15px;
	height:250px;
}

.answer input[type=button]
{
	position:absolute;
	right:15px;
	bottom:15px;
	width:100px;
}

.answerContent
{
	margin-top:34px;
}

.linkAnswer
{
	text-decoration:none;
	color:#999;
	font-size:0.8em;
	position:absolute;
	top:5px;
	left:5px;
}

.error
{
	color:Black;
	background-color:Red;
	border:solid 2px Black;
	position:fixed;
	top:0px;
	left:0px;
	padding:15px;
	font-size:1.6em;
	z-index:7000;
}

.info
{
	color:Black;
	background-color:#9f9;
	border:solid 2px Black;
	position:fixed;
	top:0px;
	left:0px;
	padding:15px;
	font-size:1.6em;
}

.appendButton
{
	text-decoration:none;
	border:solid 1px #999;
	background-color:#efefef;
	margin:0 0 0 5px;
	padding:2px 5px 2px 5px;
	min-width:100px;
	text-align:center;
}

.appendButton:hover
{
	background-color:#efefab;
}

.found
{
	background-color:#9f9;
}

.numberOfFavorites
{
	display:block;
	text-align:center;
	color:#999;
	font-size:0.8em;
}

.editQuestion
{
	background-color:#f0f0fe;
	border:dotted 1px #999;
	padding:15px;
}

.editQuestion span, .editQuestion input[type=text]
{
	margin:15px 0 15px 0;
	display:block;
	color:Blue;
	cursor:pointer;
}

.editQuestionBtn
{
	position:absolute;
	top:0;
	left:65px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
	margin-top:-5px;
}

.deleteQuestionBtn
{
	position:absolute;
	top:0;
	left:145px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
	margin-top:-5px;
}

.changeOrdering
{
	position:absolute;
	top:0;
	left:225px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
	margin-top:-5px;
}

.quoteQuestionBtn
{
	position:absolute;
	top:0;
	left:5px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
	margin-top:-5px;
}

.editAnswer
{
	background-color:#f0f0fe;
	border:dotted 1px #999;
	padding:15px;
	margin-top:55px;
}

.editAnswer input[type=button]
{
	margin-bottom:5px;
	margin-right:5px;
	font-size:0.9em;
}

.deleteAnswerBtn
{
	position:absolute;
	top:5px;
	left:125px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
}

.answerDate
{
	position:absolute;
	top:5px;
	left:225px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
}

.editAnswerBtn
{
	position:absolute;
	top:5px;
	left:45px;
	color:#999;
	text-decoration:none;
	font-size:0.7em;
}

.editQuestion textarea
{
	height:150px;
	margin-bottom:15px;
	display:block;
	width:100%;
}


.lblCountUsers
{
	margin-left:25px;
	font-size:1.1em;
	font-weight:bold;
	margin-top:25px;
	margin-bottom:25px;
	display:block;
}


.comments
{
	position:absolute;
	left:5px;
	bottom:5px;
	color:#999;
	text-decoration:none;
	font-size:0.8em;
}

.viewComments
{
	margin:25px;
	border:dotted 1px #999;
	background-color:#f0f0fe;
	padding:15px;
	font-size:0.8em;
	color:#666;
}

textarea.commentTxt
{
	height:60px;
	margin:10px;
}





