html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
body{text-align:center;}
h1{font-size:138.5%;}
h2{font-size:123.1%;}
h3{font-size:108%;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
em{font-style:italic;}
dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;}
th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;text-align:center;}
p,fieldset,table,pre{margin-bottom:1em;}
input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
.window				{ display:block; }
.window_nw			{ background: transparent url(Sapphire/window-sprite.png) no-repeat 0 0; padding-left:10px; position:relative; }
.window_ne			{ background: transparent url(Sapphire/window-sprite.png) no-repeat right 0; padding-right:10px; }
.window_n			{ background: transparent url(Sapphire/window-h-sprite.png) repeat-x 0 0; overflow:hidden; height:25px; }
.window_title		{ font-size:0.8em; position:absolute; top:5px; color:#333; -moz-user-select:none; -khtml-user-select: none; user-select: none; cursor:move; width:100%; }
.window_close		{ width:23px; height:16px; line-height:16px; background:transparent url(Sapphire/window-sprite.png) no-repeat -10px 0; position:absolute; top:0px; right:0px; }
.window_close:hover	{ background-color:transparent; background-position:-10px -16px; }
.window_prev		{ width:23px; height:16px; background:transparent url(Sapphire/window-sprite.png) no-repeat -10px -32px; position:absolute; top:3px; right:35px; }
.window_next		{ width:23px; height:16px; background:transparent url(Sapphire/window-sprite.png) no-repeat -10px -48px; position:absolute; top:3px; right:18px; }
.window_body		{ overflow:hidden; position:relative; }
.window_w			{ background: transparent url(Sapphire/window-v-sprite.png) repeat-y 0 0; padding-left:7px; }
.window_e			{ background: transparent url(Sapphire/window-v-sprite.png) repeat-y right 0; padding-right:7px; }
.window_content		{ background-color:#fafaff; border-style:solid; border-width:1px; border-left-color:#999; border-top-color:#999; border-right-color:#aaa; border-bottom-color:#aaa; }
.window_sw			{ background: transparent url(Sapphire/window-sprite.png) no-repeat 0 -25px; padding-left:5px; }
.window_se			{ background: transparent url(Sapphire/window-sprite.png) no-repeat right -25px; padding-right:5px; }
.window_s			{ background: transparent url(Sapphire/window-h-sprite.png) repeat-x 0 -25px; height:7px; }
.tab { width:95%; }
.tab .tab-header { margin-bottom:-1px; }
.tab .tab-header ul { margin:0; }
.tab .tab-header ul li { display:inline; padding-right:2px; line-height:24px; }
.tab .tab-header ul li.first { margin-left:3px; }
.tab .tab-header ul li a { text-decoration:none; color:#33d; padding:5px; }
.tab .tab-header ul li a:hover { color:#FFC23F; background-color:Transparent; }
.tab .tab-header ul li.active  a { text-decoration:none; color:#000; padding:5px; font-weight:bold; }
.tab .tab-header ul li.tab-disabled a { color:#faa; }
.tab .tab-header ul li.tab-disabled a:hover { color:#f99; }
.tab .tab-header ul li span { display:inline-block; *height:18px; padding-top:5px; }
.tab .tab-header ul li span.left { background:url('Sapphire/tab-sprite.png') no-repeat; width:10px; }
.tab .tab-header ul li span.center { background:url('Sapphire/tab-h-sprite.png') repeat-x; }
.tab .tab-header ul li span.right { background:url('Sapphire/tab-sprite.png') no-repeat -10px 0; width:10px; }
.tab .tab-header ul li.active span.left { background:url('Sapphire/tab-sprite.png') no-repeat -20px 0px; }
.tab .tab-header ul li.active span.center { background:url('Sapphire/tab-h-sprite.png') repeat-x 0px -32px; }
.tab .tab-header ul li.active span.right { background:url('Sapphire/tab-sprite.png') no-repeat -30px 0px; }
.tab .content { padding:5px; background-color:#fdfdfd; border:solid 1px #D6D6D6; }
.auto { background-color:#fff; border:dotted 1px Black; padding:15px; height:20px; width:200px; overflow:visible; }
.auto input[type=text] { display:block; width:175px; background: url('sprite.png') no-repeat 0px -134px; 
border:solid 1px #999; padding-left:20px; }
.auto-items { position:absolute; border:solid 1px #CCD1FF; background-color:#fff; width:187px; padding:5px; margin:0; }
.auto-item { border:solid 1px Transparent; cursor:pointer; }
.auto li { list-style-type:none; }
.auto a { display:block; margin:2px 2px 2px 2px; background-color:#eee; padding:5px; border:dotted 1px #999; font-size:80%; }
.auto a:hover { text-decoration:none; }
.auto-item:hover { border-top:solid 1px #CCD1FF; border-bottom:solid 1px #CCD1FF; background-color:#fafaff; }


/* Custom styles - the above is from YUI CSS, Ra-Ajax etc... */

/* General things - tags */
body { text-align:left; }
ul { margin:10px 10px 10px 25px; }
li { list-style-position:outside; list-style-type:disc; }
a { text-decoration:none; color:#00f; }
a:hover { color:#00a; background-color:#dedede; text-decoration:underline; }
table { border-collapse:collapse; }
td { border:none 0; }
input[type=checkbox] { margin-right:6px; vertical-align:top; margin-top:1px; }
blockquote { background-color:#f0f0f0; padding:15px; }
input[type=button] { font-size:123.1%; }

/* Custom fields - classes for MasterPage */
.internetExploderWarning { position:absolute; top:5px; left:5px; padding:15px; border:dotted 2px #999; background-color:#fafafa; width:50%; font-size:123.1%; }
.mainContent { margin:0px auto 25px auto; width:960px; position:relative; }
.logo { position:absolute; top:15px; left:0px; }
.logo:hover { background-color:inherit; }
.logo img { border:solid 2px Transparent; }
.logo img:hover { border-top:solid 2px #ddd; border-left:solid 2px #ddd; border-right:solid 2px #aaa; border-bottom:solid 2px #aaa; }
.infoLabel { }
.loginPnl { position:absolute; top:15px; right:45px; border:dotted 1px Black; width:200px; padding:15px; }
.linkButton { display:block; border:solid 1px #999; background-color:#f0f0f0; color:#33d; font-size:108%; padding:5px 10px 5px 10px; margin:2px; position:relative; }
.linkButton:hover { text-decoration:none; }
.profileName { position:absolute; top:2px; right:2px; font-size:0.7em; color:#999; }
.search { position:absolute; top:15px; right:290px; }
.found { color:#ea0; }
.search .auto-items { z-index:5000; }
.contentPlaceHolder { padding-top:150px; margin-bottom:90px; }
.infoSmallText { font-size:0.8em; font-style:italic; color:#999; }

/* Default.aspx */
.lblCountUsers { margin:10px 0px 25px 0px; font-size:123.1%; display:block; }

/* ItemGrid.ascx */
.list-item { border:dotted 1px #999; padding:15px 10px 15px 10px; margin:10px 0px 10px 0px; }
.list-header { font-size:138.5%; overflow:auto; }
.header-item { position:relative; background-color:#ddd; padding:10px; margin:0px 5px 0px 5px; float:left; text-align:center; }
.item { font-size:108%; overflow:auto; line-height:25px; }
.content-item { position:relative; background-color:#f5f5f5; padding:10px; margin:0px 5px 0px 5px; float:left; text-align:center; }
.score { width:60px; }
.answers-count { width:70px; }
.item .score { font-size:128.1%; }
.really-bad { background-color:#f00; }
.bad { background-color:#e99; }
.neutral { }
.good { background-color:#9e9; }
.great { background-color:#3f3; }
.item .answers-count { font-size:128.1%; }
.date { width:80px; }
.operator { width:90px; }
.question { width:420px; }
.item .date { font-size:0.7em; }
.item .operator { padding:0px; width:110px; font-size:0.9em; text-align:left; }
.item a { display:block; padding:10px; }
.item a:hover { text-decoration:none; }
.item .question { padding:0px; text-align:left; width:440px; font-size:0.9em; }
.item .viewCount { position:absolute; top:0px; right:5px; color:#999; font-size:0.9em; }
.item .tags { position:absolute; bottom:0px; right:5px; color:#999; font-size:0.9em; }

/* Login.ascx */
.loginWindow { width:400px; top:10px; right:10px; position:absolute; z-index:5000; }
.loginDiv { position:relative; height:160px; }
.openIdWrapper { padding:25px; padding-top:40px; }
.openIdBtn { display:block; width:100px; font-size:0.8em; position:absolute; bottom:2px; left:2px; }
.whatsOpenId { display:block; width:100px; font-size:0.8em; position:absolute; bottom:2px; right:2px; }
.publicTerminalOpenID { padding:10px 10px 10px 0px; display:block; }
.errLbl { color:Red; font-size:0.9em; font-style:italic; }
.loginTable { margin:15px auto 0px auto; }
.loginNativeBtn { position:absolute; bottom:2px; right:2px; }


/* Register.ascx */
.registerWindow { width:350px; top:10px; right:10px; position:absolute; z-index:5000; }
.registerDiv { position:relative; height:170px; }
.registerTable { margin:5px auto 5px auto; }
.infoOpenId { color:#4a4; font-style:italic; font-size:0.9em; }
.loginBtn { position:absolute; right:2px; bottom:2px; }


/* AskQuestion.ascx */
.askQuestionWindow { width:600px; position:absolute; top:10px; left:10px; z-index:5000; }
.askQuestion { overflow:auto; min-height:500px; }
.askQuestionLeft { float:left; width:55%; padding:15px; height:330px; }
.actionButtons { }
.actionButton { display:inline; font-size:0.9em; }
.askQuestionLeft input[type=text] { width:300px; margin:15px 15px 0 15px; }
.askQuestionLeft textarea { width:300px; margin:15px 15px 0 15px; height:200px; }
.tagsAuto { width:270px; margin:15px 15px 0 15px; padding:15px; }
.tagsAuto .auto-items { width:260px; }
.tagsAuto li { margin:10px; padding:10px; background-color:#ddf; cursor:pointer; }
.tagsAuto li:hover { background-color:#bbf; }
.tagsAuto input[type=text] { margin:0; width:250px; }
.questionSubmit { position:absolute; bottom:12px; right:12px; font-size:1.4em; }
.legend { font-size:0.9em; }
.quizContent { clear:both; margin-left:15px; width:80%; overflow:auto; }


/* Item.aspx (view single question) */
.wndDelete { width:300px; position:absolute; top:100px; left:100px; z-index:5000; }
.divDelete { padding:70px; }
.answerDiv { position:relative; }
.tagsHeader { position:absolute; bottom:2px; right:2px; }
.tagsHeader .linkButton { display:inline; }
.errPanel { position:fixed; top:0px; left:0px; font-size:123.1%; background-color:#f00; border:dashed 5px Black; width:500px; padding:50px; z-index:6000; }
.star { float:left; width:40px; }
.starFavored { background:Transparent url(sprite.png) no-repeat 0 -72px; height:31px; width:32px; display:block; }
.starNone { background:Transparent url(sprite.png) no-repeat 0 -102px; height:31px; width:32px; display:block; }
.starNone:hover, .starFavored:hover { background-color:Yellow; }
.numberOfFavorites { margin-left:12px; color:#999; font-size:0.9em; }
.vote { float:left; width:32px; }
.vote a { color:#fff; }
.up { background:Transparent url(sprite.png) no-repeat 0 0; height:12px; width:24px; display:block; }
.down { background:Transparent url(sprite.png) no-repeat 0 -12px; height:12px; width:24px; display:block; }
.up:hover { background:Transparent url(sprite.png) no-repeat 0 -24px; }
.down:hover { background:Transparent url(sprite.png) no-repeat 0 -36px; }
.upVoted { background:Transparent url(sprite.png) no-repeat 0 -48px; height:12px; width:24px; display:block; }
.downVoted { background:Transparent url(sprite.png) no-repeat 0 -60px; height:12px; width:24px; display:block; }
.votes { font-size:1.4em; width:24px; text-align:center; display:block; }
.questionStart { float:left; margin:0 0 0 15px; border-left:dotted 1px #999; padding:35px 0 15px 15px; position:relative; width:700px; }
.operatorAsked { position:absolute; top:0px; right:0px; margin:0 -41px 0 0; display:inline; }
.quoteQuestionBtn { position:absolute; top:2px; left:18px; color:#999; font-size:0.9em; padding:5px; }
.editQuestionBtn { position:absolute; top:2px; left:119px; color:#999; font-size:0.9em; padding:5px; }
.deleteQuestionBtn { position:absolute; top:2px; left:202px; color:#999; font-size:0.9em; padding:5px; }
.whenPosted { position:absolute; top:7px; left:318px; color:#999; font-size:0.9em; }
.questionContent { font-size:123.1%; }
.changeOrdering { position:absolute; bottom:0px; margin-bottom:-15px; left:5px; color:#999; font-size:0.9em; padding:5px; }
.editQuestion { margin:15px 15px 15px 15px; }
.editHeader { color:#00f; cursor:pointer; font-size:1.2em; margin-bottom:5px; }
.editQuestionText { width:550px; height:180px; padding:0px; }
.saveEditedQuestion { position:absolute; bottom:0px; left:30px; }
.answersWrapper { margin:25px 25px 25px 100px; }
.answer { padding:25px; border:dotted 1px #999; margin-bottom:25px; width:700px; background-color:#fafafa; position:relative; }
.linkAnswer { position:absolute; top:5px; left:5px; color:#999; padding:5px; }
.editAnswerBtn { position:absolute; top:5px; left:105px; color:#999; padding:5px; }
.deleteAnswerBtn { position:absolute; top:5px; left:185px; color:#999; padding:5px; }
.answerDate { position:absolute; top:10px; left:305px; color:#999; }
.answeredBy { display:inline; position:absolute; top:5px; right:5px; }
.voteAnswer { margin:15px 0 0 -15px; }
.answerContent { margin:25px 0 35px 25px; font-size:123.1%; }
.editAnswer { background-color:#fafffa; position:relative; overflow:hidden; }
.editAnswerDiv { padding:25px 25px 50px 25px; margin:15px; }
.editAnswerTxt { width:100%; height:150px; margin:0px auto 0px auto; }
.saveEditedAnswer { position:absolute; bottom:5px; right:5px; }
.comments { position:absolute; left:2px; bottom:2px; border:2px; color:#999; padding:5px; }
.viewComments { overflow:hidden; }
.oneComment { border:dotted 1px #ddd; width:550px; margin:15px auto 0 auto; padding:25px 15px 0 15px; position:relative; }
.commentedByWho { position:absolute; top:5px; right:0px; }
.commentedByWho a { padding:5px; }
.commentSubmit { width:550px; margin:15px auto 0 auto; position:relative; }
.commentTxt { height:200px; width:100%; margin-bottom:35px; }
.submitComment { position:absolute; bottom:0px; right:0px; }
.answerQuestion { margin-left:100px; width:750px; position:relative; }
.answerBody { width:100%; height:180px; margin-bottom:35px; }
.answerQuestionBtn { position:absolute; bottom:0px; right:0px; }





