<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <appSettings>

    <!-- If true then all "user created" link will have rel="nofollow" which will exclude Google from 
         following them and therefore probably reduce spam... -->
    <add key="nofollow" value="false"/>
    
    <!-- If false users CANNOT use OpenID to login but must register natively -->
    <add key="allowOpenID" value="false"/>
    
    <!-- If false users cannot login "natively" and must use OpenID -->
    <add key="allowNativeLogin" value="true"/>

    <!-- Legal values; "OpenID" or "Native" -->
    <add key="defaultRegistering" value="Native"/>
  </appSettings>
  <connectionStrings/>

  <activerecord isWeb="true">
    <config>
      <add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
      <add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect"/>
      <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="hibernate.connection.connection_string" value="Database=Stacked;Server=localhost;User Id=root;Password=8pr4ms"/>
    </config>
  </activerecord>

  <urlrewritingnet
    rewriteOnlyVirtualUrls="true"
    contextItemsPrefix="QueryString"
    defaultProvider="RegEx"
    xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="RewriteForQuiz"
           virtualUrl="~/(.*).quiz"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/Item.aspx?id=$1"
           ignoreCase="true" />
      <add name="RewriteForUser"
           virtualUrl="~/(.*).user"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/Default.aspx?operatorProfile=$1"
           ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>

  <system.web>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <!--
    <httpHandlers>
      <add verb="*" path="*.gif" type="ResourceCacher.FarFutureExpires, ResourceCacher"/>
      <add verb="*" path="*.png" type="ResourceCacher.FarFutureExpires, ResourceCacher"/>
      <add verb="*" path="*.jpg" type="ResourceCacher.FarFutureExpires, ResourceCacher"/>
      <add verb="*" path="*.jpeg" type="ResourceCacher.FarFutureExpires, ResourceCacher"/>
      <add verb="*" path="*.css" type="ResourceCacher.FarFutureExpires, ResourceCacher"/>
    </httpHandlers>
-->

    <compilation debug="true" />
    <authentication mode="Windows"/>
  </system.web>
</configuration>
